@import "tailwindcss";

@theme {
  /* --- Typography --- */
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --text-h1: 60px;
  --text-h1--line-height: 72px;

  --text-h2: 48px;
  --text-h2--line-height: 58px;

  --text-body-medium: 16px;
  --text-body-medium--line-height: 24px;

  --text-body-small: 14px;
  --text-body-small--line-height: 22px;

  /* --- Colors --- */
  --color-primary-500: #0099FF;
  --color-primary-600: #2D8BE9;
  
  --color-dark-900: #000211;
  --color-dark-500: #37485B;
  
  --color-surface: #F8FAFC;
  
  --color-success: #00BC65;
  --color-error: #F32E26;
}